a[b-fm39eu7w28] {
    text-decoration: none;
}

a:hover .card[b-fm39eu7w28] {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
}

.card[b-fm39eu7w28] {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img[b-fm39eu7w28] {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img[b-fm39eu7w28] {
    transition: 0.5s ease-in-out;
}
